@import "./variables.scss";

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin content-padding {
    padding: 50px 50px;

    @media only screen and (max-width: $sm) {
        padding: 50px 50px;
    }
}

@mixin content-title {
    @include flex-center(row);

    h2 {
        margin-right: 30px;
        white-space: nowrap;
    }
}