@import "./variables.scss";

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin content-padding {
  padding: 32px 24px;

  @media only screen and (min-width: $sm) {
    padding: 32px 32px;
  }

  @media only screen and (min-width: $md) {
    padding: 48px 48px;
  }
}

@mixin content-title {
  @include flex-center(column);

  h2 {
    white-space: nowrap;

    @media only screen and (min-width: $xs) {
      margin-right: 32px;
    }
  }

  @media only screen and (min-width: $xs) {
    flex-direction: row;
  }
}
