// Color variables
$main-color: #ff4500;
$sidebar-color: #cc3600;
$background-main-color-l: #e7e4e1;
$background-main-color-d: #000000;

// Screen size variables
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// Button variable
$border-radius-button: 90px;
$border-radius-skill-button: 45px;
