// Color variables
$main-color: #ff4500;
$sidebar-color: #cc3600;
$background-main-color-l: #e7e4e1;
$background-main-color-d: #000000;

// Screen size variables
$xs: 425px; // Mobile L
$sm: 768px; // Tablet
$md: 1024px; // Laptop
$lg: 1440px; // Laptop L

// Button variables
$border-radius-button: 90px;
$border-radius-skill-button: 45px;
