@import "../../sass-imports/variables.scss";
@import "../../sass-imports/mixins.scss";

.projects {
    @include content-padding;
    padding-bottom: 10px;

    .projects-title {
        @include content-title;
    }

    .center-column {
        @include flex-center(column);
    }

    #copyright {
        text-align: center;
        font-size: 0.75em;
    }
}