@import "../../sass-imports/variables.scss";
@import "../../sass-imports/mixins.scss";

.skills-scroll-wrapper {
  padding: 2px 0px;

  .skills {
    @include content-padding;

    .skills-title {
      @include content-title;
    }

    .skills-subtitle {
      @include flex-center(row);
      padding-top: 16px;

      svg {
        margin-right: 24px;
        font-size: 2em;
      }
    }

    #front-end {
      padding-top: 0;
    }
  }
}