@import "../../sass-imports/variables.scss";
@import "../../sass-imports/mixins.scss";

.main-button {
    width: 200px;
    height: 80px;

    @media only screen and (max-width: $md) {
        width: 75%;
    }

    .main-button-content {
        @include flex-center(row);
        border-radius: $border-radius-skill-button;

        p {
            font-size: 2em;
            font-weight: 700;
            text-transform: uppercase;
            margin-right: 5px;
        }

        .logo {
            width: 20%;
            height: 40%;
            margin-left: 5px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}