@import "../../sass-imports/variables.scss";
@import "../../sass-imports/mixins.scss";

.heading {
  @include content-padding;
  @include flex-center(row);
  justify-content: space-between;

  .name {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $sm) {
      flex-direction: row;
    }

    #name-pre {
      white-space: pre;
    }
  }
}
