@import "../../sass-imports/variables.scss";
@import "../../sass-imports/mixins.scss";

.nav-links {
  @include flex-center(column);
  
  a {
    text-decoration: none;

    :hover {
      cursor: pointer;
    }

    .nav-link {
      @include flex-center(row);
      width: 100%;
    }

    svg {
      margin-right: 20px;
      font-size: 1rem;

      @media only screen and (min-width: $lg) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1rem;

      @media only screen and (min-width: $lg) {
        font-size: 1.5rem;
      }
    }
  }

  a.active {
    text-decoration: none;
    font-weight: 700;
    color: #780116;
  }
}
