@import "../../sass-imports/variables.scss";
@import "../../sass-imports/mixins.scss";

.sidebar {
  width: 25vw;
  @include flex-center(column);
  height: 100%;
  background-color: $sidebar-color;
  color: white;
  position: fixed;
  display: none;

  @media only screen and (min-width: $xs) {
    display: flex;
  }

  img {
    width: 75%;
    height: auto;
    border-radius: 50%;
  }

  h3 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;

    @media only screen and (min-width: $md) {
      font-size: 2.5rem;
    }
  }

  hr {
    background-color: white;
    width: 75%;
    height: 3px;
  }
}
