@import "../sass/variables.scss";
@import "../sass/mixins.scss";

.about {
    @include content-padding;

    .about-title {
        @include content-title;

        p {
            line-height: 175%;
        }
    }

    span {
        color: $main-color;
    }

    hr {
        margin: 30px 0px;
    }
}
