// Color variables
$main-color: #FF4500;
$sidebar-color: #CC3600;
$background-main-color-l: #E7E4E1;
$background-main-color-d: #000000;

// Screen size variables
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Button variable
$border-radius-button: 90px;