@import "~bootstrap/scss/bootstrap";
@import "./sass-imports/variables.scss";

body {
  font-family: 'Montserrat', 'Verdana', sans-serif;

  h1 {
      font-size: 4rem;
      font-weight: 500;

      @media only screen and (max-width: $lg) {
        font-size: 3em;
    }
  }

  h2 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;

      @media only screen and (max-width: $md) {
          
      }
  }

  p {
      font-size: 2rem;
    }

  span {
        color: $main-color;
  }
}