@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', 'Verdana', sans-serif;

  h1 {
      font-size: 4rem;
      font-weight: 500;
  }

  h2 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
  }

  p {
      font-size: 2rem;
  }
}